.footerContainer {
 width: 100vw;
 background-color: #2A2A2A;
 height: 395px;
 position: relative;
 p {
  color: white;
  font-weight: bold;
 }
}

.upInfos {
 height: 100px;
 width: 100vw;
 background-color: red;
}
