.productsContainer {
 display: flex;
 gap: 30px;
 overflow-x: auto;
 position: relative;
 
}

.arrowLeftProducts {
 position: absolute;
 top: 50%;
  transform: translateY(-50%);
  border: transparent;
  font-size: 34px;
}

.arrowRightProducts {
 position: absolute;
 top: 50%;
  transform: translateY(-50%);
  border: transparent;
 right: 0;
 font-size: 34px;
}