.moreInfos {
 margin: 0 auto;
 background-color: #2A2A2A;
 display: flex;
 padding: 27px;
 justify-content: space-around;
 align-items: center;
 border-top: 1px solid white;
}

.copyright {
 width: 70%;
}